/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  overflow: hidden;
}

.pho-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.pho-container > div > input,
.pho-container > div > span {
  position: fixed;
  font-size: 40px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.pho-container > div > input {
    /*z-index: 1;*/
    /*opacity: 0;*/
}

.pho-nav {
  width: 40px;
  height: 40px;
}

#nav-up {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -20px;
  z-index: 1;
}

#nav-up > input,
#nav-up > span {
 left: 0;
}

#nav-down {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -20px;
  z-index: 1;
}

#nav-down > input,
#nav-down > span {
  left: 0;
}

#nav-left {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  z-index: 1;
}

#nav-left > input,
#nav-left > span {
  left: 0;
}

#nav-right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  z-index: 1;
}

#nav-right > input,
#nav-right > span {
  left: 0;
}

.hidden-div {
  display: none;
}

#nav-up {
  -webkit-animation:move-top 2s infinite;
          animation:move-top 2s infinite;
}

@-webkit-keyframes move-top {
    0% {
        transform:translateY(20px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes move-top {
    0% {
        transform:translateY(20px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

#nav-down {
  -webkit-animation:move-down 2s infinite;
          animation:move-down 2s infinite;
}

@-webkit-keyframes move-down {
    0% {
        transform:translateY(-20px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform:translateY(-20px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

#nav-left {
  -webkit-animation:move-left 2s infinite;
          animation:move-left 2s infinite;
}

@-webkit-keyframes move-left {
    0% {
        transform:translateX(20px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}

@keyframes move-left {
    0% {
        transform:translateX(20px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}

#nav-right {
  -webkit-animation:move-right 2s infinite;
          animation:move-right 2s infinite;
}

@-webkit-keyframes move-right {
    0% {
        transform:translateX(-20px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}

@keyframes move-right {
    0% {
        transform:translateX(-20px);
        opacity: 0;
    }
    100% {
        transform:translateX(0px);
        opacity: 1;
    }
}

.pho-scroll {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform:translate3d(0, 0, 0);
          transform:translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition:all 2.6s ease-in-out;
          transition:all 2.6s ease-in-out;
  -webkit-transform:translateX(-100%) translateY(-100%);
          transform:translateX(-100%) translateY(-100%);
}

.pho-scroll-up {
  -webkit-transform:translateX(-100%) translateY(0%);
          transform:translateX(-100%) translateY(0%);
}

.pho-scroll-down {
  -webkit-transform:translateX(-100%) translateY(-200%);
          transform:translateX(-100%) translateY(-200%);
}

.pho-scroll-left {
  -webkit-transform:translateX(0%) translateY(-100%);
          transform:translateX(0%) translateY(-100%);
}

.pho-scroll-right {
  -webkit-transform:translateX(-200%) translateY(-100%);
          transform:translateX(-200%) translateY(-100%);
}

.pho-panel-row {
  position: relative;
  height: 100%;
  width: 300%;
  display: -webkit-box;
  display:         box;
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

.pho-panel {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
          box-flex: 1; 
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}